<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/component/head.html::head-user}"></head>

<body>
	<!-- Start Header/Navigation -->
	<header th:replace="~{/component/header.html::navbar-user}"></header>
	<!-- End Header/Navigation -->
	<div class="body-cart container my-4">
		<div class="row mt-3">
			<div class="col-8 ps-0">
				<div class="bg-white rounded-1 py-4 px-4">
					<h5 class="text-danger">
						<i class="fa-solid fa-location-dot text-danger pe-1"></i> Địa chỉ nhận hàng
					</h5>
					<div class="address mt-3">
						<div class="row mb-3">
							<div class="col-6">
								<div class="">
									<input type="text" class="form-control" name="" id="" aria-describedby="helpId"
										placeholder="Họ tên" />
								</div>
							</div>
							<div class="col-6">
								<input type="text" class="form-control" name="" id="" aria-describedby="helpId"
									placeholder="Số điện thoại" />
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-12">
								<input type="text" class="form-control" name="" id="" aria-describedby="helpId"
									placeholder="Địa chỉ" />
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-4">
								<div class="mb-3">
									<select class="form-select form-select" name="" id="">
										<option selected>Tỉnh</option>
										<option value="">New Delhi</option>
										<option value="">Istanbul</option>
										<option value="">Jakarta</option>
									</select>
								</div>
							</div>
							<div class="col-4">
								<div class="mb-3">
									<select class="form-select form-select" name="" id="">
										<option selected>Huyện</option>
										<option value="">New Delhi</option>
										<option value="">Istanbul</option>
										<option value="">Jakarta</option>
									</select>
								</div>
							</div>
							<div class="col-4">
								<div class="mb-3">
									<select class="form-select form-select" name="" id="">
										<option selected>Xã</option>
										<option value="">New Delhi</option>
										<option value="">Istanbul</option>
										<option value="">Jakarta</option>
									</select>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="row" id="bill">
					<div class="col-12 bg-white rounded-1 shadow-lg  bg-secondary p-3">
						<div class="row ps-1">
							<div class="col-6">
								<span>Tạm tính</span>
							</div>
							<div class="col-6 text-end">
								<span>100.000đ</span>
							</div>
						</div>
						<div class="row ps-1 ">
							<div class="col-6">
								<span>Giảm giá</span>
							</div>
							<div class="col-6 text-end">
								<span class="text-success">-70.00đ</span>
							</div>
						</div>
						<div class="row ps-1">
							<div class="col-6">
								<span>Tổng thanh toán</span>
							</div>
							<div class="col-6 text-end">
								<span class="text-danger fs-5 fw-bold">170.00đ</span>
							</div>
						</div>
						<div class="row ps-1 border-top">
							<div class="col-12 text-end ">
								<button class="btn-private rounded-3 px-4 bg-favorite text-white mt-3">
									Đặt hàng</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12 bg-white rounded-1">
				<div class="row mb-3">
					<div class="col-12 bg-white rounded-1">
						<div class="row p-2">
							<div class="col-4 ps-0">
								<div class="form-check">
									<label class="form-check-label  ps-2 fs-5" for="defaultCheck1">
										Sản phẩm
									</label>
								</div>
							</div>
							<div class="col-2 text-center">
								<span class="form-check-label  ps-2" for="defaultCheck1">
									Đơn giá
								</span>
							</div>
							<div class="col-2 text-center">
								<span class="form-check-label   ps-2" for="defaultCheck1">
									Số lượng
								</span>
							</div>
							<div class="col-2 text-center">
								<span class="form-check-label   ps-2" for="defaultCheck1">
									màu
								</span>
							</div>
							<div class="col-2 text-center">
								<span class="form-check-label   ps-2" for="defaultCheck1">
									Tổng tiền hàng
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-3" th:each="x: ${listCheckout}">
					<div class="col-4 my-auto">
						<div class="mb-3">
							<div class="row g-0">
								<div class="col-md-3  my-auto ">
									<img th:src="@{|/assets/images/products/${x.productDetails.Product.Image}|}"
										class="img-fluid rounded-start" alt="Card title" />
								</div>
								<div class="col-md-8 ">
									<div class="card-body">
										<p class="card-text">
											[(${x.productDetails.Product.ProductName})]
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-2 text-center">
						<span class="form-check-label ps-2" for="defaultCheck1">
							<span class="old-price fw-bold text-danger">
								[[${#numbers.formatDecimal(x.productDetails.Product.Price,0,'COMMA',0,'POINT')}]] đ
							</span>
						</span>
					</div>
					<div class="col-2 text-center">
						<span>x[(${x.
							Quantity})]</span>
					</div>
					<div class="col-2 text-center">
						<span class="form-check-label" for="defaultCheck1">
							<span class="color">[(${x.productDetails.Color.ColorName})]</span>
						</span>
					</div>
					<div class="col-2 text-center">
						<span class="form-check-label" for="defaultCheck1">
							<span
								class="amout fw-bold text-danger">[[${#numbers.formatDecimal(x.productDetails.Product.Price
								* x.
								Quantity,0,'COMMA',0,'POINT')}]]
								đ</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<span onclick="topFunction()" id="myBtn" title="Go to top">
		<span class="bg-favorite shadow-sm ">&#129129;</span>
	</span>
	<!-- Start Footer Section -->
	<footer th:replace="~{/component/footer.html::footer-user}"></footer>
	<!-- End Footer Section -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
	<script src="assets/js/custom.js"></script>
	<script src="/assets/js/chatbox.js"></script>
	<script src="/assets/js/index.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>