<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/component/head.html::head-user}"></head>

<body>
    <!-- Start Header/Navigation -->
    <header th:replace="~{/component/header.html::navbar-user}"></header>
    <!-- End Header/Navigation -->

    <body>
        <div class="container">
            <div class="row bg-white my-4 rounded-1 pt-3">
                <div class="col-4">
                    <div class="pt-4-2">
                        <h6>So sánh sản phẩm</h6>
                        <p class="text-black fw-bold mb-0"> CASIO 34 MM NAM MTP-M305L-7AVDF</p>&amp;
                        <p class="text-black fw-bold"> CASIO 34 MM NAM MTP-M305L-7AVDF</p>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card-group text-center pb-3">
                        <div class="card compare-product" th:each="x: ${ProductCompare}">
                            <img class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">[(${x.Product.ProductName})]</h5>
                                <del>
                                    <span class="price"></span>
                                </del><br>
                                <span class="price-new fw-bold fs-5"></span>
                                <div class="review">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="rating">11</span>
                                </div>
                                <p class="card-text"><a href="">Xoá</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row bg-white my-4 rounded-1 pt-3">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="item">
                        <h5 class="accordion-header text-black">
                            <span class="mb-2 bg-white" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                <i class="fa-solid fa-circle-chevron-up"></i> Thông tin so sánh
                            </span>
                        </h5>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="row bg-white my-4 rounded-1 pt-3">
                                <div class="col-4">
                                    <div class="pt-4-2">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" class="border-bottom-0">Đối tượng sử dụng</th>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col" class="border-bottom-0">Chất liệu</th>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col" class="border-bottom-0">Xuất xứ</th>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col" class="border-bottom-0">Thương hiệu</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <td scope="col">
                                                    </td>
                                                    <td scope="col">Nữ</td>
                                                    <td scope="col">Unisex</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="">
                                                    <td scope="row"></td>
                                                    <td>Sắt, nhựa</td>
                                                    <td>Nhôm, đồng</td>
                                                </tr>
                                                <tr class="">
                                                    <td scope="row"></td>
                                                    <td>Nhật bản</td>
                                                    <td>The UK</td>
                                                </tr>
                                                <tr class="">
                                                    <td scope="row"></td>
                                                    <td>Casio</td>
                                                    <td>Hublot</td>

                                                </tr>
                                                <tr class="text-center">
                                                    <td>
                                                        <a class="btn btn-primary rounded-1 py-2 px-4 my-3">Thêm
                                                            chi
                                                            tiết</a>
                                                    </td>
                                                    <td>
                                                        <a href="" class="btn btn-primary rounded-1 py-2 px-4 mt-3">Thêm
                                                            chi
                                                            tiết</a>
                                                    </td>
                                                    <td>
                                                        <a href="" class="btn btn-primary rounded-1 py-2 px-4 mt-3">Thêm
                                                            chi
                                                            tiết</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Section -->
        <footer th:replace="~{/component/footer.html::footer-user}"></footer>
        <!-- End Footer Section -->
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <script src="/assets/js/custom.js"></script>
        <script src="/assets/js/chatbox.js"></script>

    </body>

</html>