<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="TechVortex">

<head th:replace="~{/component/head.html::head-user}"></head>

<body ng-app="homeController">
    <!-- Start Header/Navigation -->
    <header th:replace="~{/component/header.html::navbar-user}"></header>
    <!-- End Header/Navigation -->

    <div class="detail container mt-3 mb-4" th:each="x: ${detail}">
        <span class="homeurl">TechVortex > [(${x.product.ProductName})]</span>
        <div class="row bg-white mt-3 rounded-1 pb-4 pt-4">
            <div class="col-5">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img th:src="@{|/assets/images/products/${x.product.Image}|}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img th:src="@{|/assets/images/products/${x.product.Image}|}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img th:src="@{|/assets/images/products/${x.product.Image}|}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img th:src="@{|/assets/images/products/${x.product.Image}|}" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon bg-secondary-subtle" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon bg-secondary-subtle" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="carousel-desc mt-4 d-flex justify-content-center">
                    <img th:src="@{|/assets/images/products/${x.product.Image}|}" class="img-thumbnail carousel-image"
                        alt="..." data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0">
                    <img th:src="@{|/assets/images/products/${x.product.Image}|}" class="img-thumbnail carousel-image"
                        alt="..." data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1">
                    <img th:src="@{|/assets/images/products/${x.product.Image}|}" class="img-thumbnail carousel-image"
                        alt="..." data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2">
                    <img th:src="@{|/assets/images/products/${x.product.Image}|}" class="img-thumbnail carousel-image"
                        alt="..." data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3">
                </div>

            </div>
            <div class="col-7">
                <div class="text-start">
                    <div class="content-body">
                        <h4 class="card-title">[(${x.product.ProductName})]</h4>
                        <div class="row mt-4">
                            <div class="col-2">
                                <div class=" rates">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="time-rate">
                                    <span>( 11 ) lượt đánh giá</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-2">
                                <span>Giá</span>
                            </div>
                            <div class="col-9 text-start">
                                <span class="fw-bold fs-4 text-danger">
                                    [[${#numbers.formatDecimal(x.product.Price,0,'COMMA',0,'POINT')}]]
                                    đ</span>
                            </div>
                        </div>
                        <div class="row mt-4 choose-color">
                            <div class="col-2">
                                <div>Thương hiệu</div>
                            </div>
                            <div class="col-2">
                                <span class="card p-1 text-center">[(${x.brand.BrandName})]</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 choose-color">
                        <div class="col-2 my-auto">
                            <div class="">Chọn màu</div>
                        </div>
                        <div class="col-2 text-center">
                            <span class="card p-1 color-c hecked">
                                [(${x.color.ColorName})]
                            </span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-2">
                            <span>Số lượng</span>
                        </div>
                        <div class="col-7">
                            <div class="xml">
                                <input type="number" class="rounded-2 ps-2" th:attr="max=${x.InventoryQuantity}"
                                    id="quantityInput" oninput="validateInput(this)" value="1"
                                    onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                                <span class="ms-3">Còn [(${x.InventoryQuantity})] sản phẩm trong kho</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="add-to-cart-group">
                            <th:block th:if="${#request.remoteUser}">
                                <a class="btn btn-outline-primary addToCartButton"
                                    th:attr="data-productdetail-id=${x.ProductDetailId}">
                                    <i class="fa-solid fa-cart-plus me-1"></i>
                                    Thêm vào giỏ hàng
                                </a>
                                <a class="btn btn-primary ms-3 addToCartButton" href="/cart"
                                    th:attr="data-productdetail-id=${x.ProductDetailId}">
                                    Mua ngay</a>
                            </th:block>

                            <th:block th:unless="${#request.remoteUser}">
                                <a class="btn btn-outline-primary addToCartButton" href="/login">
                                    <i class="fa-solid fa-cart-plus me-1"></i>
                                    Thêm vào giỏ hàng
                                </a>
                                <a class="btn btn-primary ms-3" href="/login">
                                    Mua ngay</a>
                            </th:block>
                        </div>
                    </div>
                    <div class="row">
                        <div class="feature-more mt-4 d-flex justify-content-start">
                            <div class="favorite-product border-end">
                                <i class="fa-regular fa-heart fs-6 text-danger"></i> <span class="text-black me-5">Yêu
                                    thích
                                    (1,2k)</span>
                            </div>
                            <div class="compare-product ms-5">
                                <a href=""><i class=" fa-solid fa-code-compare text-blue me-1 "></i>So sánh</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" desc-products bg-white mb-4 rounded-1 container">
        <h5 class="text-uppercase pt-3">mô tả sản phầm</h5>
        <div class="post pb-4">
            <span>- Đồng Hồ Nam FOURRON Là món phụ kiện không thể thiếu của các bạn nam,
                chiếc đồng hồ giúp bạn khẳng
                định cá
                tính thời trang của chính mình.</span>
            <br>
            <span>- Đồng Hồ Nam FOURRON sở hữu thiết kế sang trọng với các chi tiết được chế
                tác tinh xảo, góp phần nâng
                tầm
                phong cách của người đeo.</span>
            <br>
            <span>- Bên cạnh đó, phần kim và số được thể hiện rõ ràng nhưng cũng không kém
                phần tinh tế, vừa đáp ứng nhu
                cầu
                quản lý thời gian vừa tô điểm thêm cho set trang phục của bạn.</span>
            <br>
            <span> - Với chiếc Đồng Hồ Nam FOURRON, các bạn nam có thể sử dụng trong mọi
                dịp, từ đi làm, đi chơi hay
                tham dự
                những buổi tiệc.</span>
            <hr>
            <span>• THÔNG TIN NỔI BẬT</span><br>
            <span>- Kiểu dáng năng động và lịch lãm (phong cách doanh nhân)</span>
            <br>
            <span>- Chống nước sinh hoạt rất tốt + Mặt kính Mineral rất trong và chồng trầy
                sinh hoạt
            </span><br>
            <span>- Võ làm bằng thép 304L cao cấp nên đeo rất chắc tay
            </span>
        </div>
    </div>

    <div class="review-post container bg-white mb-4 rounded-1 ps-4 pe-4">
        <h5 class="pt-4">Đánh giá sản phẩm</h5>
        <div class="all card bg-danger-subtle mb-4 mt-3">
            <div class="row m-3 text-center justify-content-center">
                <div class="col-1">
                    <span class="card p-1">Tất cả</span>
                </div>
                <div class="col-1">
                    <span class="card p-1">5 sao</span>
                </div>
                <div class="col-1">
                    <span class="card p-1">4 sao</span>
                </div>
                <div class="col-1">
                    <span class="card p-1">3 sao</span>
                </div>
                <div class="col-1">
                    <span class="card p-1">2 sao</span>
                </div>
                <div class="col-1">
                    <span class="card p-1">1 sao</span>
                </div>
            </div>
        </div>
        <div class="carder mb-4">
            <span class="name">Tài k3</span>
            <div class="">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
            </div>
            <small>12/02/2019</small>
            <div class="content">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
                    quisquam perferendis. Fugit
                    vel totam possimus tempore assumenda, pariatur aut. Quod aut optio nemo,
                    excepturi earum quo
                    doloribus voluptas quidem eligendi.</span>
            </div>
            <div class="img-drop-fee mt-4">
                <img src="assets/images/products/1.png" alt="">
                <img src="assets/images/products/1.png" alt="">
                <img src="assets/images/products/1.png" alt="">
            </div>
        </div>
        <hr>
        <div class="carder pb-4">
            <span class="name">Tâm KK</span>
            <div class="">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
            </div>
            <small>12/02/2019</small>
            <div class="content">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
                    quisquam perferendis. Fugit
                    vel totam possimus tempore assumenda, pariatur aut. Quod aut optio nemo,
                    excepturi earum quo
                    doloribus voluptas quidem eligendi.</span>
            </div>
            <div class="img-drop-fee">
                <img src="assets/images/products/1.png" alt="">
                <img src="assets/images/products/1.png" alt="">
                <img src="assets/images/products/1.png" alt="">
            </div>

            <!-- Modal -->
            <div class="modal fade" id="mkkk" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Tất cả đánh giá
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="carder mb-4">
                                <span class="name">Tài k3</span>
                                <div class="">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star "></span>
                                </div>
                                <small>12/02/2019</small>
                                <div class="content">
                                    <span>Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit. Consequatur, quisquam
                                        perferendis. Fugit
                                        vel totam possimus tempore assumenda, pariatur aut. Quod
                                        aut optio nemo,
                                        excepturi earum quo
                                        doloribus voluptas quidem eligendi.</span>
                                </div>
                                <div class="img-drop-fee mt-4">
                                    <img src="assets/images/products/1.png" alt="">
                                    <img src="assets/images/products/1.png" alt="">
                                    <img src="assets/images/products/1.png" alt="">
                                </div>
                            </div>
                            <hr>
                            <div class="carder pb-4">
                                <span class="name">Tâm KK</span>
                                <div class="">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star "></span>
                                </div>
                                <small>12/02/2019</small>
                                <div class="content">
                                    <span>Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit. Consequatur, quisquam
                                        perferendis. Fugit
                                        vel totam possimus tempore assumenda, pariatur aut. Quod
                                        aut optio nemo,
                                        excepturi earum quo
                                        doloribus voluptas quidem eligendi.</span>
                                </div>
                                <div class="img-drop-fee">
                                    <img src="assets/images/products/1.png" alt="">
                                    <img src="assets/images/products/1.png" alt="">
                                    <img src="assets/images/products/1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End modal -->

            <div class="row">
                <div class="col-12 text-center mt-4 mb-4">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mkkk">Xem tất
                        cả</button>
                </div>
            </div>
        </div>
    </div>

    <div class="popular-product container mb-4">
        <div class="row p-3 bg-white rounded">
            <h3 class="pb-3">Sản phẩm cùng loại</h3>
            <div class="card-group text-center">
                <div class="card">
                    <img src="assets/images/products/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kruzari Max Rolex 2</h5>
                        <del>
                            <span class="price">100.000đ</span>
                        </del><br>
                        <span class="price-new fw-bold fs-5">100.000đ</span>
                        <div class="review">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="rating">11</span>
                        </div>
                        <p class="card-text"><a href="">Xem thêm</a></p>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/products/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kruzari Max Rolex 2</h5>
                        <p class="card-text">This is a wider card with supporting text below as
                            a
                            natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><a href="">Xem thêm</a></p>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/products/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kruzari Max Rolex 2</h5>
                        <p class="card-text">This is a wider card with supporting text below as
                            a
                            natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><a href="">Xem thêm</a></p>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/products/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kruzari Max Rolex 2</h5>
                        <p class="card-text">This is a wider card with supporting text below as
                            a
                            natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><a href="">Xem thêm</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center mt-3">
                    <button class="btn btn-primary">Xem thêm</button>
                </div>
            </div>
        </div>
    </div>

    <span onclick="topFunction()" id="myBtn" title="Go to top">
        <span class="bg-favorite shadow-sm ">&#129129;</span>
    </span>

    <!-- Start Footer Section -->
    <footer th:replace="~{/component/footer.html::footer-user}"></footer>
    <!-- End Footer Section -->

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/chatbox.js"></script>

</body>

</html>