<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/component/head.html::head-user}"></head>

<body>
	<!-- Start Header/Navigation -->
	<header th:replace="~{/component/header.html::navbar-user}"></header>
	<!-- End Header/Navigation -->
	<div class="body-cart container my-4">
		<div class="row">
			<div class="col-3 rounded-1 card px-0" style="background-color: #eff2f1">
				<div th:replace="~{/component/side-profile.html::profile-user}"></div>
			</div>
			<div class="col-9 tabs-status">
				<nav>
					<div class="nav nav-underline gap-0 border-bottom-0 bg-white rounded-1 d-flex justify-content-between"
						id="nav-tab" role="tablist">
						<a class="nav-link px-4 py-2 mt-2 active" id="nav-home-tab" data-bs-toggle="tab" href="#all"
							role="tab" aria-controls="nav-home" aria-selected="true">Tất cả</a>
						<a class="nav-link px-4 py-2 mt-2 text-black" id="nav-profile-tab" data-bs-toggle="tab"
							href="#dangcho" role="tab" aria-controls="nav-profile" aria-selected="false">Chờ thanh
							toán</a>
						<a class="nav-link px-4 py-2 mt-2 text-black" id="nav-profile-tab" data-bs-toggle="tab"
							href="#vanchuyen" role="tab" aria-controls="nav-profile" aria-selected="false">Vận
							chuyển</a>
						<a class="nav-link px-4 py-2 mt-2 text-black" id="nav-profile-tab" data-bs-toggle="tab"
							href="#chogiaohang" role="tab" aria-controls="nav-profile" aria-selected="false">Chờ giao
							hàng</a>
						<a class="nav-link px-4 py-2 mt-2 text-black" id="nav-profile-tab" data-bs-toggle="tab"
							href="#hoanthanh" role="tab" aria-controls="nav-profile" aria-selected="false">Hoàn
							thành</a>
						<a class="nav-link px-4 py-2 mt-2 text-black" id="nav-profile-tab" data-bs-toggle="tab"
							href="#dahuy" role="tab" aria-controls="nav-profile" aria-selected="false">Đã hủy</a>
					</div>
				</nav>
				<!-- Modal review -->
				<div class="modal fade" id="review" tabindex="-1">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5 text-black" id="exampleModalLabel">Đánh giá sản phẩm</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="carder ">
									<div class="row">
										<div class="col-2">
											<img src="assets/images/products/1.png" alt="" class="w-100">
										</div>
										<div class="col-10">
											<h6 class="text-black ">Đồng hồ Lorem ipsum dolor sit amet consectetur
												adipisicing elit. Iste,
												laboriosam!</h6>
											<span>Phân loại đồng hồ: Loại thể thao</span>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-4 my-auto">
											<h6 class="text-secondary mb-0">Chất lượng sản phẩm</h6>
										</div>
										<div class="col-6 rating-star fs-4">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fs-5 ps-2">tuyệt vời</span>
										</div>
									</div>
									<div class="content">
										<div class="my-4">
											<textarea class="form-control" name="" id="" rows="3"
												style="min-height: 200px;"
												placeholder="Hãy chia sẻ những điều bạn thích về sản phẩm này với những người khác"></textarea>
										</div>
										<div class="file-upload mb-3">
											<div class="file-select">
												<div class="file-select-button" id="fileName">Chọn hình ảnh</div>
												<div class="file-select-name" id="noFile">Chưa có ảnh...</div>
												<input type="file" name="chooseFile" id="chooseFile">
											</div>
										</div>
										<a class="btn btn-primary float-end p-2 rounded-2">Hoàn thành</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End modal review -->

				<div class="tab-content mt-3 rounded-1">
					<div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="nav-home-tab">
						<th:block th:each="x: ${order}">
							<div class="mb-3 pt-4 bg-white" th:each="orderDetail : ${x.orderDetails}">
								<a th:href="@{|purchaseorder/${x.OrderId}|}">
									<div class="row g-0 border-bottom">
										<div class="col-md-4 purchase-card  pb-2 ps-2">
											<img th:src="@{|/assets/images/products/${orderDetail.Product.Image}|}"
												class="w-100" alt="Card title" />
										</div>
										<div class="col-md-8 my-auto pb-3 ps-3">
											<div class="card-body">
												<span class="card-text fs-4">
													[(${orderDetail.Product.ProductName})]
												</span><br>
												<span class="quan fw-bold">
													x[(${orderDetail.Quantity})]
												</span><br>
												<del><span class="old">
														[[*{#numbers.formatDecimal(orderDetail.Price,0,'COMMA',0,'POINT')}]]
														đ
													</span></del>
												<span class="ms-2 text-danger fw-bold new">
													[[*{#numbers.formatDecimal(orderDetail.Price,0,'COMMA',0,'POINT')}]]
													đ
												</span><br>
											</div>
										</div>
									</div>
								</a>
								<div class="row mt-3 pb-3">
									<div class="col-6 text-start ps-4">
										<span class="fs-6 text-success" th:if="${x.OrderStatus} == 'Hoàn thành'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-danger" th:if="${x.OrderStatus} == 'Đã hủy'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Chờ thanh toán'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Vận chuyển'">
											[(${x.OrderStatus})]</span>
									</div>

									<div class="col-6 text-end">
										<span class="fs-6 fw-bold">Thành tiền:
											<span class="fs-5 fw-bold text-danger pe-3 ps-1">
												[[*{#numbers.formatDecimal(orderDetail.Total,0,'COMMA',0,'POINT')}]]
												đ</span></span>
									</div>
									<div class="col-6 mt-3 text-start">
										<th:block th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											<div class="ps-3">
												<span style="font-size: 11px;">Vui lòng chỉ nhấn "Đã nhận
													hàng" khi đơn
													hàng
													đã
													được giao đến <br>
													bạn và sản phẩm nhận được không có vấn đề nào.</span>
											</div>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Đã hủy'">
											<div style="padding-left: 13px;">
												<span style="font-size: 14px;">Đã hủy bởi bạn</span>
											</div>
										</th:block>
									</div>
									<div class="col-6 pe-4 mt-3 text-end">
										<a class="btn btn-outline-danger rounded-2 py-2 px-3"
											th:href="@{|/cancelOrder/${x.OrderId}|}"
											th:if="${x.OrderStatus} == 'Chờ thanh toán'">Hủy đơn</a>
										<th:block th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												th:href="@{|/OrderReceived/${x.OrderId}|}">Đã
												nhận
												hàng</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Hoàn thành'">
											<a class="btn btn-outline-primary rounded-2 py-2 px-3 border-1 me-2"
												data-bs-toggle="modal" data-bs-target="#review">Đánh
												giá</a>
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3 "
												href="/products">Mua
												tiếp</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Vận chuyển'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												href="/products">Mua tiếp</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Đã hủy'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												href="/products">Mua
												tiếp</a>
										</th:block>
									</div>
								</div>
							</div>
						</th:block>
						<th:block th:if="${#lists.isEmpty(order)}">
							<div class="bg-white text-center py-5">
								<div class="empty-box">
									<img src="/assets/images/status/box.png" alt="" width="145px">
								</div>
								<div class="text-empty-box ">
									<h5 class="">Bạn chưa có đơn hàng nào</h5>
								</div>
							</div>
						</th:block>
					</div>
					<div class="tab-pane fade" id="dangcho" role="tabpanel" aria-labelledby="nav-home-tab">
						<th:block th:each="x: ${orderWaiting}">
							<div class="mb-3 pt-4 bg-white" th:each="orderDetail : ${x.orderDetails}">
								<div class="row g-0 border-bottom">
									<div class="col-md-4 purchase-card  pb-2 ps-2">
										<img th:src="@{|/assets/images/products/${orderDetail.Product.Image}|}"
											class="w-100" alt="Card title" />
									</div>
									<div class="col-md-8 my-auto pb-3 ps-3">
										<div class="card-body">
											<span class="card-text fs-4">
												[(${orderDetail.Product.ProductName})]
											</span><br>
											<span class="quan fw-bold">
												x[(${orderDetail.Quantity})]
											</span><br>
											<del><span class="old">
													[[*{#numbers.formatDecimal(orderDetail.Price,0,'COMMA',0,'POINT')}]]
													đ
												</span></del>
											<span class="ms-2 text-danger fw-bold new">
												[[*{#numbers.formatDecimal(orderDetail.Price,0,'COMMA',0,'POINT')}]] đ
											</span><br>
										</div>
									</div>
								</div>
								<div class="row mt-3 pb-3">
									<div class="col-6 text-start ps-4">
										<span class="fs-6 text-success" th:if="${x.OrderStatus} == 'Hoàn thành'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-danger" th:if="${x.OrderStatus} == 'Đã hủy'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Chờ thanh toán'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Vận chuyển'">
											[(${x.OrderStatus})]</span>
									</div>
									<div class="col-6 text-end">
										<span class="fs-6 fw-bold">Thành tiền:
											<span class="fs-5 fw-bold text-danger pe-3 ps-1">
												[[*{#numbers.formatDecimal(orderDetail.Total,0,'COMMA',0,'POINT')}]]
												đ</span></span>
									</div>
									<div class="col-6 mt-3 text-start">
										<th:block th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											<div class="ps-3">
												<span style="font-size: 11px;">Vui lòng chỉ nhấn "Đã nhận
													hàng" khi đơn
													hàng
													đã
													được giao đến <br>
													bạn và sản phẩm nhận được không có vấn đề nào.</span>
											</div>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Đã hủy'">
											<div style="padding-left: 13px;">
												<span style="font-size: 14px;">Đã hủy bởi bạn</span>
											</div>
										</th:block>
									</div>
									<div class="col-6 pe-4 mt-3 text-end">
										<a class="btn btn-outline-danger rounded-2 py-2 px-3"
											th:href="@{|/cancelOrder/${x.OrderId}|}"
											th:if="${x.OrderStatus} == 'Chờ thanh toán'">Hủy đơn</a>
										<th:block th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												th:href="@{|/OrderReceived/${x.OrderId}|}">Đã
												nhận
												hàng</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Hoàn thành'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												href="/products">Mua
												tiếp</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Vận chuyển'">
											<a class="btn btn-outline-danger rounded-2 py-2 px-3"
												th:href="@{|/cancelOrder/${x.OrderId}|}">Hủy
												đơn</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Đã hủy'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												href="/products">Mua
												tiếp</a>
										</th:block>
									</div>
								</div>
							</div>
						</th:block>
						<th:block th:if="${#lists.isEmpty(orderWaiting)}">
							<div class="bg-white text-center py-5">
								<div class="empty-box">
									<img src="/assets/images/status/mobile.png" alt="" width="130px">
								</div>
								<div class="text-empty-box mt-3">
									<h5 class="">Bạn chưa có đơn chờ thanh toán</h5>
								</div>
							</div>
						</th:block>
					</div>
					<div class="tab-pane fade " id="vanchuyen" role="tabpanel" aria-labelledby="nav-home-tab">
						<th:block th:each="x: ${orderShipping}">
							<div class="mb-3 pt-4 bg-white" th:each="orderDetail : ${x.orderDetails}">
								<div class="row g-0 border-bottom">
									<div class="col-md-4 purchase-card  pb-2 ps-2">
										<img th:src="@{|/assets/images/products/${orderDetail.Product.Image}|}"
											class="w-100" alt="Card title" />
									</div>
									<div class="col-md-8 my-auto pb-3 ps-3">
										<div class="card-body">
											<span class="card-text fs-4">
												[(${orderDetail.Product.ProductName})]
											</span><br>
											<span class="quan fw-bold">
												x[(${orderDetail.Quantity})]
											</span><br>
											<del><span class="old">
													[[*{#numbers.formatDecimal(orderDetail.Price,0,'COMMA',0,'POINT')}]]
													đ
												</span></del>
											<span class="ms-2 text-danger fw-bold new">
												[[*{#numbers.formatDecimal(orderDetail.Price,0,'COMMA',0,'POINT')}]] đ
											</span><br>
										</div>
									</div>
								</div>
								<div class="row mt-3 pb-3">
									<div class="col-6 text-start ps-4">
										<span class="fs-6 text-success" th:if="${x.OrderStatus} == 'Hoàn thành'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-danger" th:if="${x.OrderStatus} == 'Đã hủy'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Chờ thanh toán'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Vận chuyển'">
											[(${x.OrderStatus})]</span>
									</div>

									<div class="col-6 text-end">
										<span class="fs-6 fw-bold">Thành tiền:
											<span class="fs-5 fw-bold text-danger pe-3 ps-1">
												[[*{#numbers.formatDecimal(orderDetail.Total,0,'COMMA',0,'POINT')}]]
												đ</span></span>
									</div>
									<div class="col-6 mt-3 text-start">
										<th:block th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											<div class="ps-3">
												<span style="font-size: 11px;">Vui lòng chỉ nhấn "Đã nhận
													hàng" khi đơn
													hàng
													đã
													được giao đến <br>
													bạn và sản phẩm nhận được không có vấn đề nào.</span>
											</div>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Đã hủy'">
											<div style="padding-left: 13px;">
												<span style="font-size: 14px;">Đã hủy bởi bạn</span>
											</div>
										</th:block>
									</div>
									<div class="col-6 pe-4 mt-3 text-end">
										<a class="btn btn-outline-danger rounded-2 py-2 px-3"
											th:href="@{|/cancelOrder/${x.OrderId}|}"
											th:if="${x.OrderStatus} == 'Chờ thanh toán'">Hủy đơn</a>
										<th:block th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												th:href="@{|/OrderReceived/${x.OrderId}|}">Đã
												nhận
												hàng</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Hoàn thành'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												href="/products">Mua
												tiếp</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Vận chuyển'">
											<a class="btn btn-outline-danger rounded-2 py-2 px-3"
												th:href="@{|/cancelOrder/${x.OrderId}|}">Hủy
												đơn</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Đã hủy'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												href="/products">Mua
												tiếp</a>
										</th:block>
									</div>
								</div>
							</div>
						</th:block>
						<th:block th:if="${#lists.isEmpty(orderShipping)}">
							<div class="bg-white text-center py-5">
								<div class="empty-box">
									<img src="/assets/images/status/delivery-truck.png" alt="" width="145px">
								</div>
								<div class="text-empty-box ">
									<h5 class="">Bạn chưa có đơn hàng vận chuyển</h5>
								</div>
							</div>
						</th:block>
					</div>
					<div class="tab-pane fade " id="chogiaohang" role="tabpanel" aria-labelledby="nav-home-tab">
						<th:block th:each="x: ${orderDelivery}">
							<div class="mb-3 pt-4 bg-white" th:each="orderDetail : ${x.orderDetails}">
								<div class="row g-0 border-bottom">
									<div class="col-md-4 purchase-card  pb-2 ps-2">
										<img th:src="@{|/assets/images/products/${orderDetail.Product.Image}|}"
											class="w-100" alt="Card title" />
									</div>
									<div class="col-md-8 my-auto pb-3 ps-3">
										<div class="card-body">
											<span class="card-text fs-4">
												[(${orderDetail.Product.ProductName})]
											</span><br>
											<span class="quan fw-bold">
												x[(${orderDetail.Quantity})]
											</span><br>
											<del><span class="old">
													[[*{#numbers.formatDecimal(orderDetail.Price,0,'COMMA',0,'POINT')}]]
													đ
												</span></del>
											<span class="ms-2 text-danger fw-bold new">
												[[*{#numbers.formatDecimal(orderDetail.Price,0,'COMMA',0,'POINT')}]] đ
											</span><br>
										</div>
									</div>
								</div>
								<div class="row mt-3 pb-3">
									<div class="col-6 text-start ps-4">
										<span class="fs-6 text-success" th:if="${x.OrderStatus} == 'Hoàn thành'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-danger" th:if="${x.OrderStatus} == 'Đã hủy'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Chờ thanh toán'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Vận chuyển'">
											[(${x.OrderStatus})]</span>
									</div>

									<div class="col-6 text-end">
										<span class="fs-6 fw-bold">Thành tiền:
											<span class="fs-5 fw-bold text-danger pe-3 ps-1">
												[[*{#numbers.formatDecimal(orderDetail.Total,0,'COMMA',0,'POINT')}]]
												đ</span></span>
									</div>
									<div class="col-6 mt-3 text-start">
										<th:block th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											<div class="ps-3">
												<span style="font-size: 11px;">Vui lòng chỉ nhấn "Đã nhận
													hàng" khi đơn
													hàng
													đã
													được giao đến <br>
													bạn và sản phẩm nhận được không có vấn đề nào.</span>
											</div>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Đã hủy'">
											<div style="padding-left: 13px;">
												<span style="font-size: 14px;">Đã hủy bởi bạn</span>
											</div>
										</th:block>
									</div>
									<div class="col-6 pe-4 mt-3 text-end">
										<a class="btn btn-outline-danger rounded-2 py-2 px-3"
											th:href="@{|/cancelOrder/${x.OrderId}|}"
											th:if="${x.OrderStatus} == 'Chờ thanh toán'">Hủy đơn</a>
										<th:block th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												th:href="@{|/OrderReceived/${x.OrderId}|}">Đã
												nhận
												hàng</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Hoàn thành'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												href="/products">Mua
												tiếp</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Vận chuyển'">
											<a class="btn btn-outline-danger rounded-2 py-2 px-3"
												th:href="@{|/cancelOrder/${x.OrderId}|}">Hủy
												đơn</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Đã hủy'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												href="/products">Mua
												tiếp</a>
										</th:block>
									</div>
								</div>
							</div>
						</th:block>
						<th:block th:if="${#lists.isEmpty(orderDelivery)}">
							<div class="bg-white text-center py-5">
								<div class="empty-box">
									<img src="/assets/images/status/courier.png" alt="" width="130px">
								</div>
								<div class="text-empty-box mt-3">
									<h5 class="">Bạn chưa có đơn chờ giao hàng</h5>
								</div>
							</div>
						</th:block>
					</div>
					<div class="tab-pane fade " id="hoanthanh" role="tabpanel" aria-labelledby="nav-home-tab">
						<th:block th:each="x: ${orderFinish}">
							<div class="mb-3 pt-4 bg-white" th:each="orderDetail : ${x.orderDetails}">
								<div class="row g-0 border-bottom">
									<div class="col-md-4 purchase-card  pb-2 ps-2">
										<img th:src="@{|/assets/images/products/${orderDetail.Product.Image}|}"
											class="w-100" alt="Card title" />
									</div>
									<div class="col-md-8 my-auto pb-3 ps-3">
										<div class="card-body">
											<span class="card-text fs-4">
												[(${orderDetail.Product.ProductName})]
											</span><br>
											<span class="quan fw-bold">
												x[(${orderDetail.Quantity})]
											</span><br>
											<del><span class="old">
													[[*{#numbers.formatDecimal(orderDetail.Price,0,'COMMA',0,'POINT')}]]
													đ
												</span></del>
											<span class="ms-2 text-danger fw-bold new">
												[[*{#numbers.formatDecimal(orderDetail.Price,0,'COMMA',0,'POINT')}]] đ
											</span><br>
										</div>
									</div>
								</div>
								<div class="row mt-3 pb-3">
									<div class="col-6 text-start ps-4">
										<span class="fs-6 text-success" th:if="${x.OrderStatus} == 'Hoàn thành'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-danger" th:if="${x.OrderStatus} == 'Đã hủy'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Chờ thanh toán'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Vận chuyển'">
											[(${x.OrderStatus})]</span>
									</div>

									<div class="col-6 text-end">
										<span class="fs-6 fw-bold">Thành tiền:
											<span class="fs-5 fw-bold text-danger pe-3 ps-1">
												[[*{#numbers.formatDecimal(orderDetail.Total,0,'COMMA',0,'POINT')}]]
												đ</span></span>
									</div>
									<div class="col-6 mt-3 text-start">
										<th:block th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											<div class="ps-3">
												<span style="font-size: 11px;">Vui lòng chỉ nhấn "Đã nhận
													hàng" khi đơn
													hàng
													đã
													được giao đến <br>
													bạn và sản phẩm nhận được không có vấn đề nào.</span>
											</div>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Đã hủy'">
											<div style="padding-left: 13px;">
												<span style="font-size: 14px;">Đã hủy bởi bạn</span>
											</div>
										</th:block>
									</div>
									<div class="col-6 pe-4 mt-3 text-end">
										<a class="btn btn-outline-danger rounded-2 py-2 px-3"
											th:href="@{|/cancelOrder/${x.OrderId}|}"
											th:if="${x.OrderStatus} == 'Chờ thanh toán'">Hủy đơn</a>
										<th:block th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												th:href="@{|/OrderReceived/${x.OrderId}|}">Đã
												nhận
												hàng</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Hoàn thành'">
											<a class="btn btn-outline-primary rounded-2 py-2 px-3 border-1 me-2"
												href="">Đánh
												giá</a>
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												href="/products">Mua
												tiếp</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Vận chuyển'">
											<a class="btn btn-outline-danger rounded-2 py-2 px-3"
												th:href="@{|/cancelOrder/${x.OrderId}|}">Hủy
												đơn</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Đã hủy'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												href="/products">Mua
												tiếp</a>
										</th:block>
									</div>
								</div>
							</div>
						</th:block>
						<th:block th:if="${#lists.isEmpty(orderFinish)}">
							<div class="bg-white text-center py-5">
								<div class="empty-box">
									<img src="/assets/images/status/box_finish.png" alt="" width="130px">
								</div>
								<div class="text-empty-box mt-3">
									<h5 class="">Bạn chưa có đơn hàng hoàn thành nào</h5>
								</div>
							</div>
						</th:block>
					</div>
					<div class="tab-pane fade " id="dahuy" role="tabpanel" aria-labelledby="nav-home-tab">
						<th:block th:each="x: ${orderCancel}">
							<div class="mb-3 pt-4 bg-white" th:each="orderDetail : ${x.orderDetails}">
								<div class="row g-0 border-bottom">
									<div class="col-md-4 purchase-card  pb-2 ps-2">
										<img th:src="@{|/assets/images/products/${orderDetail.Product.Image}|}"
											class="w-100" alt="Card title" />
									</div>
									<div class="col-md-8 my-auto pb-3 ps-3">
										<div class="card-body">
											<span class="card-text fs-4">
												[(${orderDetail.Product.ProductName})]
											</span><br>
											<span class="quan fw-bold">
												x[(${orderDetail.Quantity})]
											</span><br>
											<del><span class="old">
													[[*{#numbers.formatDecimal(orderDetail.Price,0,'COMMA',0,'POINT')}]]
													đ
												</span></del>
											<span class="ms-2 text-danger fw-bold new">
												[[*{#numbers.formatDecimal(orderDetail.Price,0,'COMMA',0,'POINT')}]] đ
											</span><br>
										</div>
									</div>
								</div>
								<div class="row mt-3 pb-3">
									<div class="col-6 text-start ps-4">
										<span class="fs-6 text-success" th:if="${x.OrderStatus} == 'Hoàn thành'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-danger" th:if="${x.OrderStatus} == 'Đã hủy'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Chờ thanh toán'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											[(${x.OrderStatus})]</span>
										<span class="fs-6 text-secondary" th:if="${x.OrderStatus} == 'Vận chuyển'">
											[(${x.OrderStatus})]</span>
									</div>

									<div class="col-6 text-end">
										<span class="fs-6 fw-bold">Thành tiền:
											<span class="fs-5 fw-bold text-danger pe-3 ps-1">
												[[*{#numbers.formatDecimal(orderDetail.Total,0,'COMMA',0,'POINT')}]]
												đ</span></span>
									</div>
									<div class="col-6 mt-3 text-start">
										<th:block th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											<div class="ps-3">
												<span style="font-size: 11px;">Vui lòng chỉ nhấn "Đã nhận
													hàng" khi đơn
													hàng
													đã
													được giao đến <br>
													bạn và sản phẩm nhận được không có vấn đề nào.</span>
											</div>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Đã hủy'">
											<div style="padding-left: 13px;">
												<span style="font-size: 14px;">Đã hủy bởi bạn</span>
											</div>
										</th:block>
									</div>
									<div class="col-6 pe-4 mt-3 text-end">
										<a class="btn btn-outline-danger rounded-2 py-2 px-3"
											th:href="@{|/cancelOrder/${x.OrderId}|}"
											th:if="${x.OrderStatus} == 'Chờ thanh toán'">Hủy đơn</a>
										<th:block th:if="${x.OrderStatus} == 'Chờ giao hàng'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												th:href="@{|/OrderReceived/${x.OrderId}|}">Đã
												nhận
												hàng</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Hoàn thành'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												href="/products">Mua
												tiếp</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Vận chuyển'">
											<a class="btn btn-outline-danger rounded-2 py-2 px-3"
												th:href="@{|/cancelOrder/${x.OrderId}|}">Hủy
												đơn</a>
										</th:block>
										<th:block th:if="${x.OrderStatus} == 'Đã hủy'">
											<a class="btn btn-outline-secondary rounded-2 py-2 px-3"
												href="/products">Mua
												tiếp</a>
										</th:block>
									</div>
								</div>
							</div>
						</th:block>
						<th:block th:if="${#lists.isEmpty(orderCancel)}">
							<div class="bg-white text-center py-5">
								<div class="empty-box">
									<img src="/assets/images/status/cancelled.png" alt="" width="130px">
								</div>
								<div class="text-empty-box mt-3">
									<h5 class="">Bạn chưa hủy đơn hàng nào</h5>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</div>

	<span onclick="topFunction()" id="myBtn" title="Go to top">
		<span class="bg-favorite shadow-sm ">&#129129;</span>
	</span>
	<!-- Start Footer Section -->
	<footer th:replace="~{/component/footer.html::footer-user}"></footer>
	<!-- End Footer Section -->
	<script src="/assets/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
	<script src="/assets/js/custom.js"></script>
	<script src="/assets/js/index.js"></script>
	<script src="/assets/js/chatbox.js"></script>

</body>

</html>